.promo-btn {
  @include desktop-tablet-general-btn;
}

.portfolio-btn {
  @include desktop-tablet-general-btn;
}

.form-btn {
  flex-basis: 33.3%;
  display: inline-block;
  min-width: 412px;
  min-height: 107px;
  padding: 35px 145px;
  color: $base-white;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  background-color: $base-red;
  border-radius: 6px;
  border-style: hidden;
}

.works-btn {
  @include desktop-tablet-general-btn;
}
