.order-form {
  display: flex;
  // flex-wrap: wrap;
  align-items: flex-end;
  margin-right: -$gap * 2;
  margin-left: -$gap * 2;
}

.form-box {
  position: relative;
  flex-basis: 33.3%;
  padding-right: $gap * 2;
  padding-left: $gap * 2;
}

.form-label {
  position: absolute;
  bottom: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: $base-dark;
}

.form-input {
  width: 100%;
  padding: 35px 30px;
  margin-top: 8px;
  font-family: $font;
  font-size: 28px;
  line-height: 34px;
  color: $base-dark;
  background-color: $base-white;
  border-radius: 6px;
  border: none;
}


