.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: $base-dark;
}

.header-inner {
  @include inner;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header-logo {
  @include desktop-logo;
}

.menu-list {
  display: flex;
  margin: 0 -3px 0 -5px;
  padding: 0;
  list-style: none;
}

.menu-item {
  padding-left: $gap * .5;
  padding-right: $gap * .5;
}

.menu-link {
  @include desktop-tablet-menu-link;

  &.catalogue-link {
    background-color: $base-red;
  }
}






