.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: $base-dark;
}

.header-inner {
  @include inner;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: auto;
  font-family: $font;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: $base-white;
  text-decoration: none;
}

.menu-list {
  display: flex;
  margin: 0 -3px 0 -5px;
  padding: 0;
  list-style: none;
}

.menu-item {
  padding-left: $gap * .5;
  padding-right: $gap * .5;
}

.menu-link {
  @include menu-link;

  &.link-catalogue {
    background-color: $base-red;
  }
}

// .header-phone {
//   margin-left: 100px;
//   font-size: 24px;
//   line-height: 33px;
//   color: $color-light;
//   text-decoration: none;
// }



