.order {
  text-align: center;
}

.order-fade {
  padding: 130px 0;
  background-color: rgba($base-dark, .1);
}

.order-inner {
  @include inner;
}

.order-title {
  margin: 0 0 40px 0;

  @include section-title;

  // Добавлять медиазапрос для мобильника
}

.order-tagline {
  margin: 0 0 90px 0;
  color: $base-dark;
  font-family: $font;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;

  // Добавлять медиазапрос для мобильника
}


