.order {
  text-align: center;
}

.order-fade {
  padding: 130px 0;
  background-color: rgba($base-dark, .1);
}

.order-inner {
  @include inner;
}

.order-title {
  margin: 0 0 40px 0;
  color: $base-dark;
  font-family: $font;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
}

.order-tagline {
  margin: 0 0 90px 0;
  color: $base-dark;
  font-family: $font;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
}

.order-form {}

.form-box {}

.form-label {}

.form-input {}

.form-btn {}
