.portfolio {
  padding: 130px 0;
  text-align: center;
}

.portfolio-inner {
  @include inner;
}

.portfolio-title {
  margin: 0 0 100px 0;
  color: $base-dark;
  font-family: $font;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
}

.portfolio-wrapper {
  display: flex;
  margin-right: -$gap;
  margin-left: -$gap;
  margin-bottom: $gap * 12;
}

.portfolio-picture-box {
  padding: 0 $gap;
  flex-basis: 25%;
}

.portfolio-picture {
  width: 100%;
  background-color: #C4C4C4;
  object-fit: cover;
}



