.portfolio {
  padding: 130px 0;
  text-align: center;
}

.portfolio-inner {
  @include inner;
}

.portfolio-title {
  margin: 0 0 97px 0;

  @include section-title;
}

.portfolio-wrapper {
  display: flex;
  margin-right: -$gap;
  margin-left: -$gap;
  padding-bottom: $gap * 12;
}

.portfolio-picture-box {
  position: relative;
  flex-basis: 25%;
  padding: 0 $gap;
}

.portfolio-picture-box-container {
  position: relative;
  // background-color: #C4C4C4; При установке цвета элемент увеличивается снижу на несколько пискселей.

}

.portfolio-picture-desc {
  position: absolute;
  bottom: 5px;
  width: 100%;
  padding: 15px 46px;
  margin: 0;
  font-family: $font;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: $base-white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.portfolio-picture {
  width: 100%;
  object-fit: contain;
}




