.promo {
  position: relative;
  top: 90px;
  text-align: center;
  background-image: url(../images/man-with-lightcolored-bowtie.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo-fade {
  padding: 200px 0 214px 0;
  background-color: rgba($base-dark, .4);
}

.promo-inner {
  @include inner;
}

.promo-title {
  margin: 0 0 130px 0;
  color: $base-white;
  font-family: $font;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
}





// .promo {
//   padding: 50px 0;
//   background-color: lightsteelblue;
//   border-radius: 10px;
// }

// .promo-inner {
//   margin: 0 auto;
//   width: 1024px;

//   @media (max-width: 1279px) {
//     width: auto;
//     max-width: 1024px;
//   }
// }

// .promo-ttl {
//   font-size: $h1-fz-desktop;
//   font-weight: $h1-fw;

//   @media (max-width: 1279px) {
//     font-size: $h1-fz-tablet;
//   }

//   @media (max-width: 669px) {
//     font-size: $h1-fz-mobile;
//   }
// }
