.reviews-slick-slider {
  padding: 77px 0 130px 0;
  margin: 0 28px;

  .slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    margin: auto;
    font-size: 0;
    // background-color: #fff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    z-index: 500;
  }

  .slick-prev {
    left: 0;
    background-image: url('../images/right-arrow.svg');
  }

  .slick-next {
    right: 0;
    background-image: url('../images/left-arrow.svg');
  }
}

