.tabs-list {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.tabs-item {
  margin: 0 $gap * 2.5;
  list-style: none;
}

.tabs-link {
  @include tabs-filters-title;

  &.active {
    color: $base-red;
  }
}

.tabs-content {
  display: none;

  &.active {
    display: block;
  }
}
