.works {
  padding: 130px 0;
  text-align: center;
}

.works-inner {
  @include inner;
}

.works-title {
  margin: 0;

  @include section-title;
}

.works-filter {
  display: flex;
  margin: 77px 0 40px 0;
  padding: 0;
  list-style: none;
}

.works-filter-item {
  margin: 0 auto;

}

.works-filter-link {
  @include tabs-filters-title;

  &.active {
    color: $base-red;
  }
}

.works-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -$gap;
  padding-bottom: $gap * 12;
}

.works-picture-box {
  flex-basis: 25%;
  padding: $gap;
}

.works-picture-box-container {
  position: relative;
  // background-color: #C4C4C4; При установке цвета элемент увеличивается снижу на несколько пискселей.
}

.works-picture-desc {
  position: absolute;
  bottom: 5px;
  width: 100%;
  padding: 15px 32px;
  margin: 0px;
  font-family: $font;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: $base-white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.works-picture {
  width: 100%;
  object-fit: contain;
}


