.works {
  padding: 130px 0;
  text-align: center;
}

.works-inner {
  @include inner;
}

.works-title {
  @include section-title;

  margin: 0;
}

.works-filter {
  display: flex;
  justify-content: center;
  margin: 80px 0 40px 0;
  padding: 0;
  list-style: none;
}

.works-filter-item {
  margin: 0 auto;

}

.works-filter-link {
  @include tabs-filters-title;


}

.works-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -10px 120px -10px;
}

.works-picture-box {
  position: relative;
  padding: 10px 10px;
  margin: 0;
  flex-basis: 25%;
}

// .works-picture-desc {
//   position: absolute;
//   left: 0;
//   top: 100%;
//   width: 100%;
//   // padding: 15px 49px;
//   margin: 0;
//   font-family: $font;
//   font-weight: 400;
//   font-size: 24px;
//   line-height: 33px;
//   color: $base-white;
//   text-align: center;
//   vertical-align: baseline;
//   background-color: rgba(0, 0, 0, 0.4);
// }

.works-picture {
  width: 100%;
  background-color: #C4C4C4;
  object-fit: cover;
}

