/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v29-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v29-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/open-sans-v29-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v29-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/open-sans-v29-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v29-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #333333;
}

.header-inner {
  max-width: 1278px;
  margin: 0 auto;
  border: 1px solid red;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.menu-link {
  display: block;
  padding: 33px 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-link.link-catalogue {
  background-color: #FF2D2D;
}

.header-logo {
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: #FFFFFF;
  text-decoration: none;
}

.menu-list {
  display: flex;
  margin: 0 -3px 0 -5px;
  padding: 0;
  list-style: none;
}

.menu-item {
  padding-left: 5px;
  padding-right: 5px;
}

.promo-fade {
  padding-top: 200px;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImNvbW1vbi9fZm9udHMuc2NzcyIsImNvbW1vbi9fY29tbW9uLnNjc3MiLCJjb21tb24vX3ZhcmlhYmxlcy5zY3NzIiwiYmxvY2tzL19oZWFkZXIuc2NzcyIsImNvbW1vbi9fbWl4aW5zLnNjc3MiLCJibG9ja3MvX3Byb21vLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7QUFDQTtFQUNFO0VBQ0E7RUFDQTtFQUNBLHNLQUUrRTs7QUFFakY7QUFDQTtFQUNFO0VBQ0E7RUFDQTtFQUNBLDhKQUUyRTs7QUFFN0U7QUFDQTtFQUNFO0VBQ0E7RUFDQTtFQUNBLDhKQUUyRTs7QUN6QjdFO0VBQ0U7OztBQUdGO0VBQ0UsYUNKSzs7O0FDRFA7RUFDRTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0Esa0JER1U7OztBQ0FaO0VDUkUsV0FEbUI7RUFFbkI7RUFDQTs7O0FEVUY7RUFDRTtFQUNBOzs7QUFHRjtFQ1hFO0VBQ0E7RUFDQSxhRlJLO0VFU0w7RUFDQTtFQUNBO0VBQ0EsT0ZGVztFRUdYO0VBQ0E7RUFDQTs7QURLQTtFQUNFLGtCRFpPOzs7QUNpQlg7RUFDRTtFQUNBLGFENUJLO0VDNkJMO0VBQ0E7RUFDQTtFQUNBLE9EdEJXO0VDdUJYOzs7QUFVRjtFQUNFO0VBQ0E7RUFDQTtFQUNBOzs7QUFHRjtFQUNFO0VBQ0E7OztBRXJERjtFQUNFIiwiZmlsZSI6InN0eWxlLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi8qIG9wZW4tc2Fucy1yZWd1bGFyIC0gbGF0aW5fY3lyaWxsaWMgKi9cbkBmb250LWZhY2Uge1xuICBmb250LWZhbWlseTogJ09wZW4gU2Fucyc7XG4gIGZvbnQtc3R5bGU6IG5vcm1hbDtcbiAgZm9udC13ZWlnaHQ6IDQwMDtcbiAgc3JjOiBsb2NhbCgnJyksXG4gICAgICAgdXJsKCcuLi9mb250cy9vcGVuLXNhbnMtdjI5LWxhdGluX2N5cmlsbGljLXJlZ3VsYXIud29mZjInKSBmb3JtYXQoJ3dvZmYyJyksIC8qIENocm9tZSAyNissIE9wZXJhIDIzKywgRmlyZWZveCAzOSsgKi9cbiAgICAgICB1cmwoJy4uL2ZvbnRzL29wZW4tc2Fucy12MjktbGF0aW5fY3lyaWxsaWMtcmVndWxhci53b2ZmJykgZm9ybWF0KCd3b2ZmJyk7IC8qIENocm9tZSA2KywgRmlyZWZveCAzLjYrLCBJRSA5KywgU2FmYXJpIDUuMSsgKi9cbn1cbi8qIG9wZW4tc2Fucy02MDAgLSBsYXRpbl9jeXJpbGxpYyAqL1xuQGZvbnQtZmFjZSB7XG4gIGZvbnQtZmFtaWx5OiAnT3BlbiBTYW5zJztcbiAgZm9udC1zdHlsZTogbm9ybWFsO1xuICBmb250LXdlaWdodDogNjAwO1xuICBzcmM6IGxvY2FsKCcnKSxcbiAgICAgICB1cmwoJy4uL2ZvbnRzL29wZW4tc2Fucy12MjktbGF0aW5fY3lyaWxsaWMtNjAwLndvZmYyJykgZm9ybWF0KCd3b2ZmMicpLCAvKiBDaHJvbWUgMjYrLCBPcGVyYSAyMyssIEZpcmVmb3ggMzkrICovXG4gICAgICAgdXJsKCcuLi9mb250cy9vcGVuLXNhbnMtdjI5LWxhdGluX2N5cmlsbGljLTYwMC53b2ZmJykgZm9ybWF0KCd3b2ZmJyk7IC8qIENocm9tZSA2KywgRmlyZWZveCAzLjYrLCBJRSA5KywgU2FmYXJpIDUuMSsgKi9cbn1cbi8qIG9wZW4tc2Fucy03MDAgLSBsYXRpbl9jeXJpbGxpYyAqL1xuQGZvbnQtZmFjZSB7XG4gIGZvbnQtZmFtaWx5OiAnT3BlbiBTYW5zJztcbiAgZm9udC1zdHlsZTogbm9ybWFsO1xuICBmb250LXdlaWdodDogNzAwO1xuICBzcmM6IGxvY2FsKCcnKSxcbiAgICAgICB1cmwoJy4uL2ZvbnRzL29wZW4tc2Fucy12MjktbGF0aW5fY3lyaWxsaWMtNzAwLndvZmYyJykgZm9ybWF0KCd3b2ZmMicpLCAvKiBDaHJvbWUgMjYrLCBPcGVyYSAyMyssIEZpcmVmb3ggMzkrICovXG4gICAgICAgdXJsKCcuLi9mb250cy9vcGVuLXNhbnMtdjI5LWxhdGluX2N5cmlsbGljLTcwMC53b2ZmJykgZm9ybWF0KCd3b2ZmJyk7IC8qIENocm9tZSA2KywgRmlyZWZveCAzLjYrLCBJRSA5KywgU2FmYXJpIDUuMSsgKi9cbn1cbiIsIioge1xuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xufVxuXG5ib2R5IHtcbiAgZm9udC1mYW1pbHk6ICRmb250O1xufVxuXG5cblxuIiwiLy8gRm9udHNcbiRmb250OiAnT3BlbiBTYW5zJywgc2Fucy1zZXJpZjtcblxuLy8gJGgxLWZ6LW1vYmlsZTogMjBweDtcbi8vICRoMS1mei10YWJsZXQ6IDMycHg7XG4vLyAkaDEtZnotZGVza3RvcDogNDhweDtcbi8vICRoMS1mdzogNDAwO1xuXG4vLyBjb2xvcnNcbiRiYXNlLWRhcms6ICMzMzMzMzM7XG4kYmFzZS1yZWQ6ICNGRjJEMkQ7XG4kYmFzZS13aGl0ZTogI0ZGRkZGRjtcblxuLy8gaW5kZW50c1xuJGdhcDogMTBweDtcblxuLy8gYnJlYWtwb2ludHNcbiIsIi5oZWFkZXIge1xuICBwb3NpdGlvbjogZml4ZWQ7XG4gIHRvcDogMDtcbiAgbGVmdDogMDtcbiAgei1pbmRleDogMTAwMDtcbiAgd2lkdGg6IDEwMCU7XG4gIGJhY2tncm91bmQtY29sb3I6ICRiYXNlLWRhcms7XG4gIH1cblxuLmhlYWRlci1pbm5lciB7XG4gIEBpbmNsdWRlIGlubmVyO1xufVxuXG4uaGVhZGVyLXdyYXBwZXIge1xuICBkaXNwbGF5OiBmbGV4O1xuICBhbGlnbi1pdGVtczogY2VudGVyO1xufVxuXG4ubWVudS1saW5rIHtcbiAgQGluY2x1ZGUgbWVudS1saW5rO1xuXG4gICYubGluay1jYXRhbG9ndWUge1xuICAgIGJhY2tncm91bmQtY29sb3I6ICRiYXNlLXJlZDtcbiAgfVxuXG59XG5cbi5oZWFkZXItbG9nbyB7XG4gIG1hcmdpbi1yaWdodDogYXV0bztcbiAgZm9udC1mYW1pbHk6ICRmb250O1xuICBmb250LXdlaWdodDogNjAwO1xuICBmb250LXNpemU6IDQycHg7XG4gIGxpbmUtaGVpZ2h0OiA1N3B4O1xuICBjb2xvcjogJGJhc2Utd2hpdGU7XG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbn1cblxuLy8gLmhlYWRlci1waG9uZSB7XG4vLyAgIG1hcmdpbi1sZWZ0OiAxMDBweDtcbi8vICAgZm9udC1zaXplOiAyNHB4O1xuLy8gICBsaW5lLWhlaWdodDogMzNweDtcbi8vICAgY29sb3I6ICRjb2xvci1saWdodDtcbi8vICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xuLy8gfVxuLm1lbnUtbGlzdCB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIG1hcmdpbjogMCAtM3B4IDAgLTVweDtcbiAgcGFkZGluZzogMDtcbiAgbGlzdC1zdHlsZTogbm9uZTtcbn1cblxuLm1lbnUtaXRlbSB7XG4gIHBhZGRpbmctbGVmdDogJGdhcCAqIC41O1xuICBwYWRkaW5nLXJpZ2h0OiAkZ2FwICogLjU7XG5cbn1cblxuXG5cbiIsIkBtaXhpbiBpbm5lcigkd2lkdGg6IDEyNzhweCkge1xuICBtYXgtd2lkdGg6ICR3aWR0aDsgLy8gbWF4LXdpZHRoIC0g0LTQu9GPINCw0LTQsNC/0YLQuNCy0LBcbiAgbWFyZ2luOiAwIGF1dG87XG4gIGJvcmRlcjogMXB4IHNvbGlkIHJlZDtcbn1cblxuQG1peGluIG1lbnUtbGluayB7XG4gIGRpc3BsYXk6IGJsb2NrO1xuICBwYWRkaW5nOiAzM3B4IDI1cHg7XG4gIGZvbnQtZmFtaWx5OiAkZm9udDtcbiAgZm9udC1zaXplOiAxNHB4O1xuICBsaW5lLWhlaWdodDogMjRweDtcbiAgZm9udC13ZWlnaHQ6IDcwMDtcbiAgY29sb3I6ICRiYXNlLXdoaXRlO1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbn1cblxuIiwiLnByb21vLWZhZGUge1xuICBwYWRkaW5nLXRvcDogMjAwcHg7XG59XG4vLyAucHJvbW8ge1xuLy8gICBwYWRkaW5nOiA1MHB4IDA7XG4vLyAgIGJhY2tncm91bmQtY29sb3I6IGxpZ2h0c3RlZWxibHVlO1xuLy8gICBib3JkZXItcmFkaXVzOiAxMHB4O1xuLy8gfVxuXG4vLyAucHJvbW8taW5uZXIge1xuLy8gICBtYXJnaW46IDAgYXV0bztcbi8vICAgd2lkdGg6IDEwMjRweDtcblxuLy8gICBAbWVkaWEgKG1heC13aWR0aDogMTI3OXB4KSB7XG4vLyAgICAgd2lkdGg6IGF1dG87XG4vLyAgICAgbWF4LXdpZHRoOiAxMDI0cHg7XG4vLyAgIH1cbi8vIH1cblxuLy8gLnByb21vLXR0bCB7XG4vLyAgIGZvbnQtc2l6ZTogJGgxLWZ6LWRlc2t0b3A7XG4vLyAgIGZvbnQtd2VpZ2h0OiAkaDEtZnc7XG5cbi8vICAgQG1lZGlhIChtYXgtd2lkdGg6IDEyNzlweCkge1xuLy8gICAgIGZvbnQtc2l6ZTogJGgxLWZ6LXRhYmxldDtcbi8vICAgfVxuXG4vLyAgIEBtZWRpYSAobWF4LXdpZHRoOiA2NjlweCkge1xuLy8gICAgIGZvbnQtc2l6ZTogJGgxLWZ6LW1vYmlsZTtcbi8vICAgfVxuLy8gfVxuIl19 */
