// common files
@import "common/_variables";
@import "common/_fonts";
@import "common/_common";
@import "common/_mixins";

// blocks
@import "blocks/_btn";
@import "blocks/_footer";
@import "blocks/_form";
@import "blocks/_header";
@import "blocks/_order";
@import "blocks/_portfolio";
@import "blocks/_promo";
@import "blocks/_contacts";
@import "blocks/_tabs";
