@mixin inner($width: 1278px) {
  max-width: $width; // max-width - для адаптива
  margin: 0 auto;
  border: 1px solid red;
}

@mixin section-title {
  font-family: $font;
  color: $base-dark;
  font-family: $font;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  text-align: center;

  // Добавлять медиазапросы для планшетов и мобильных
}

  @mixin tabs-filters-title {
  color: $base-dark;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;

  // Добавлять медиазапросы для мобильных
}

@mixin desktop-tablet-menu-link {
  display: block;
  padding: 33px 25px;
  font-family: $font;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: $base-white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

@mixin desktop-tablet-general-btn {
  display: inline-block;
  min-width: 497px;
  padding: 30px 36px 31px 48px;
  color: $base-white;
  font-weight: 400;
  font-size: 42px;
  line-height: 57px;
  text-decoration: none;
  text-align: center;
  background-color: $base-red;
  border-radius: 6px;
  cursor: pointer;
}

@mixin desktop-logo {
  margin-right: auto;
  font-family: $font;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: $base-white;
  text-decoration: none;
}

@mixin phone {
  margin: 0;
  color: $base-white;
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-decoration: none;
}




