@mixin inner($width: 1278px) {
  max-width: $width; // max-width - для адаптива
  margin: 0 auto;
  border: 1px solid red;
}

@mixin menu-link {
  display: block;
  padding: 33px 25px;
  font-family: $font;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: $base-white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

@mixin general-btn {
  display: inline-block;
  min-width: 497px;
  min-height: 104px;
  margin: 0;
  padding: 30px 36px 31px 48px;
  color: $base-white;
  font-weight: 400;
  font-size: 42px;
  line-height: 57px;
  text-decoration: none;
  text-align: center;
  background-color: $base-red;
  border-radius: 4px;
}

